{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cheque</h1>

    <table class="table table-striped table-bordered table-hover dataTables-example">
        <tbody> 
            <tr>
                <th>Número</th>
                <td>{{ cheque.checkNumber }}</td>
            </tr>
            <tr>
                <th>Beneficiario</th>
                <td>{{ cheque.beneficiary }}</td>
            </tr>
            <tr>
                <th>Concepto</th>
                <td>{{ cheque.concept }}</td>
            </tr>
            <tr>
                <th>Nota</th>
                <td>{{ cheque.notes }}</td>
            </tr>
            <tr>
                <th>Banco</th>
                <td>{{ cheque.bancoId }}</td>
            </tr>
            <tr>
                <th>Emicion</th>
                <td>{{ cheque.emicionDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>At Date</th>
                <td>{{ cheque.atDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Post Date</th>
                <td>{{ cheque.postDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ cheque.estado}}</td>
            </tr>
            <tr>
                <th>Pagado</th>
                <td>{{ cheque.pagado}}</td>
            </tr>
                        
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cheques_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cheques_edit', { 'id': cheque.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
